.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(4, 4, 4);  
}

.title {
    font-size:large;
    color: white;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

/* .score >* {
height: 25px;
width:25px
} */

.current_score {
    color: white;
    display: inline-block;
    margin-right: 20px;
}

.high_score {
    display: inline-block;
    float: right;
    color: white;
}

